/*
=====================================================
|                Section Template                   |
=====================================================
*/
/*============  End of Template  ============*/

/*Date Last Modified: 3/15/2025*/
/*Author: Aj Sison*/

/*============ IMPORTANT NOTE ============*/
/*CSS Files load in the order of styles.css, pvp_styles, heroes_styles, then check_styles*/
/*The code cascades in a way. Most of the code that affects each page is on styles.css and the other css files have code that is more specific to their page*/

/*
=====================================================
|                   Header Changes                  |
=====================================================
*/
#heading_text_box {
    background: url(../images/banners_and_logo/shop_banner_v2.png.webp);
    background-repeat: no-repeat;
    background-size: 100% 200%;
    background-position: center;
    text-align: center;
    padding: 2em 0;
    border-bottom: 10px ridge var(--img_and_vid_border_color);
}

/*============  End of Header Changes  ============*/
/*
=====================================================
|             Checklist Flex Boxes Changes          |
=====================================================
*/
div#checklist_container_1,
div#checklist_container_2 {
    display: flex;
    flex-direction: row;
    padding: 1em 1em;
    justify-content: space-evenly;
    text-align: center;
}

/*These are for checklist_box_1*/
div#secret_basement_box {
    flex-basis: 50%;
}

div#missions_tab_box {
    flex-basis: 50%;
}

/*These are for checklist_box_2*/
div#conquest_tab_box {
    flex-basis: 50%;
}

div#mines_tab_box {
    flex-basis: 50%;
}

/*============  End of Checklist Flex Boxes Changes  ============*/
/*
=====================================================
|            Shop Flex Boxes Changes           |
=====================================================
*/
div#shop_container_1,
div#shop_container_2 {
    display: flex;
    flex-direction: row;
    padding: 1em 1em;
    justify-content: space-evenly;
    text-align: center;
}

/*These are for shop_box_1*/
div#summon_tab_box {
    flex-basis: 50%;
}

div#shop_tab_box {
    flex-basis: 50%;
}

/*These are for shop_box_2*/
div#daily_shop_tab_box {
    flex-basis: 50%;
}

div#monthly_packs_tab_box {
    flex-basis: 50%;
}

/*============  End of Checklist Flex Boxes Changes  ============*/
/*
=====================================================
|                  Media Queries                    |
=====================================================
*/
/*Changes overview text*/
@media only screen and (max-width: 1200px) {
    h2#overview_text {
        font-size: 3em;
    }
}

/*Change to heading text*/
@media only screen and (max-width: 910px) {
    #heading_text_box h1 {
        font-size: 4em;
    }

    h2#overview_text {
        font-size: 2.5em;
    }
}

/*Changes for heading text*/
@media only screen and (max-width: 800px) {
    #heading_text_box h1 {
        font-size: 3em;
    }
}

/*Changes overview text*/
@media only screen and (max-width: 750px) {
    h2#overview_text {
        font-size: 2em;
    }
}

/*Changes overview text*/
@media only screen and (max-width: 620px) {
    h2#overview_text {
        font-size: 1.5em;
    }
}

/*Change to heading text*/
@media only screen and (max-width: 550px) {
    #heading_text_box h1 {
        font-size: 1.9em;
    }
}

/*Changes for background image and overview text*/
@media only screen and (max-width: 450px) {
    #heading_text_box {
        background-size: 200% 200%;
    }

    h2#overview_text {
        font-size: 1.17em;
    }
}

/*============  End of Media Queries  ============*/