/*
=====================================================
|                Section Template                   |
=====================================================
*/
/*============  End of Template  ============*/

/*Date Last Modified: 3/13/2025*/
/*Author: Aj Sison*/

/*============ IMPORTANT NOTE ============*/
/*CSS Files load in the order of styles.css, pvp_styles, heroes_styles, then check_styles*/
/*The code cascades in a way. Most of the code that affects each page is on styles.css and the other css files have code that is more specific to their page*/

/*
=====================================================
|                   Header Changes                  |
=====================================================
*/
#heading_text_box {
    background: url(../images/banners_and_logo/hero_pet_banner.png);
    background-repeat: no-repeat;
    background-size: 100% 350%;
    background-position: 0 -400px;
    text-align: center;
    padding: 2em 0;
    border-bottom: 10px ridge var(--img_and_vid_border_color);
}

/*============  End of Header Changes  ============*/
/*
=====================================================
|              Summon Flex Container                |
=====================================================
*/
div#hero_summon_pics_container {
    display: flex;
    flex-direction: row;
    padding: 1em 1em;
    justify-content: space-evenly;
}

div#normal_hero_summon_box {
    flex-basis: 33%;
    text-align: center;
}

div#premium_hero_summon_box {
    flex-basis: 33%;
    text-align: center;
}

div#event_hero_summon_box {
    flex-basis: 33%;
    text-align: center;
}

/*============  End of Summon Flex Container  ============*/
/*
=====================================================
|          Hero Rarity Image Grid Changes           |
=====================================================
*/
section#rarity_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 25px;
    grid-template-areas:
        "hig leg uni epi"
        "rar nor ext emp";
    padding: 2em;
    text-align: center;
}

img.rarity_grid_img_size {
    max-height: 100%;
    width: auto;
}

#hig {
    grid-area: hig;
}

#leg {
    grid-area: leg;
}

#uni {
    grid-area: uni;
}

#epi {
    grid-area: epi;
}

#rar {
    grid-area: rar;
}

#nor {
    grid-area: nor;
}

#ext {
    grid-area: ext;
}

#emp {
    grid-area: emp;
}

/*============  End of Hero Rarity Image Grid Changes  ============*/
/*
=====================================================
|                 Codex Flex Container                |
=====================================================
*/
section#codex_container {
    display: flex;
    flex-direction: row;
    padding: 2em 1em;
}

div#codex_text {
    flex-basis: 60%;
}

div#codex_box {
    flex-basis: 40%;
    text-align: center;
}

/*============  End of Codex Flex Container Changes  ============*/
/*
=====================================================
|              Hero Stat List Changes               |
=====================================================
*/
ul.hero_stat_list {
    margin: 0;
}

/*============  End of Hero Stat List Changes  ============*/
/*
=====================================================
|               Hero Stats Flex Container                |
=====================================================
*/
section#hero_stat_container {
    display: flex;
    flex-direction: row;
    padding: 1em 1em;
}

div#hero_stat_text {
    flex-basis: 60%;
}

div#hero_stat_box {
    flex-basis: 40%;
    text-align: center;
}

/*============  End of Codex Flex Container Changes  ============*/
/*
=====================================================
|                Pets Flex Container                |
=====================================================
*/
div#pet_pics_container {
    display: flex;
    flex-direction: row;
    padding: 1em 1em;
    justify-content: space-evenly;
}

div#pet_tab_box {
    flex-basis: 33%;
    text-align: center;
}

div#pet_summon_tab_box {
    flex-basis: 33%;
    text-align: center;
}

div#select_pet_summon_box {
    flex-basis: 33%;
    text-align: center;
}

/*============  End of Pets Flex Container Changes  ============*/
/*
=====================================================
|             Other Stats Flex Container            |
=====================================================
*/
div#other_stat_container_1,
div#other_stat_container_2,
div#other_stat_container_3,
div#other_stat_container_4 {
    display: flex;
    flex-direction: row;
    padding: 1em 1em;
    justify-content: space-evenly;
    text-align: center;
}

div#hard_boss_box,
div#insignia_summon_box,
div#influence_box,
div#traits_box,
div#relics_box,
div#essence_box,
div#blessing_box,
div#shackles_box {
    flex-basis: 50%;
}

/*============  End of Other Stats Flex Flex Container Changes  ============*/
/*
=====================================================
|                  Media Queries                    |
=====================================================
*/
/*Changes grid settings*/
@media only screen and (max-width: 1300px) {
    section#rarity_grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 25px;
        grid-template-areas:
            "hig leg uni"
            "epi rar nor"
            "ext ext ext";
    }

    img.rarity_grid_img_size {
        max-height: 80%;
        width: auto;
    }
}

/*Changes Flex Boxes*/
@media only screen and (max-width: 1050px) {
    section#codex_container {
        flex-direction: column;
    }
    section#hero_stat_container {
        flex-direction: column-reverse;
    }
}

/*Changes Flex Boxes*/
@media only screen and (max-width: 1000px) {
    div#hero_summon_pics_box,
    section#codex_box,
    section#hero_stat_box,
    div#pet_pics_box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/*Changes grid settings*/
@media only screen and (max-width: 960px) {
    section#rarity_grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 15px;
        grid-template-areas:
            "hig leg"
            "uni epi"
            "rar nor"
            "ext ext";
    }
}

/*Changes grid settings*/
@media only screen and (max-width: 600px) {
    section#rarity_grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "hig"
            "leg"
            "uni"
            "epi"
            "rar"
            "nor"
            "ext";
        justify-content: center;
        align-items: center;
    }
}

/*============  End of Media Queries  ============*/