
/*Space here to make a custom variable*/ /**/

/*
=====================================================
|                   Template                        |
=====================================================
*/
/*============  End of Template  ============*/

/*Date Last Modified: 2/24/2025*/
/*Author: Aj Sison*/

/*
=====================================================
|          Hero Rarity Image Grid Changes           |
=====================================================
*/
section#rarity_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 50px;
    grid-template-areas: 
    "hig leg uni epi"
    "rar nor ext emp";
    padding: 2em;
}

img.rarity_grid_img_size {
    max-height: 100%;
    width: auto;
}

#hig {
    grid-area: hig;
}

#leg {
    grid-area: leg;
}

#uni {
    grid-area: uni;
}

#epi {
    grid-area: epi;
}

#rar {
    grid-area: rar;
}

#nor {
    grid-area: nor;
}

#ext {
    grid-area: ext;
}

#emp {
    grid-area: emp;
}
/*============  End of Hero Rarity Image Grid Changes  ============*/
/*
=====================================================
|              Hero Stat List Changes               |
=====================================================
*/
ul.hero_stat_list {
    margin: 0;
}
/*============  End of Hero Stat List Changes  ============*/
/*
=====================================================
|                  Media Queries                    |
=====================================================
*/
/*Changes grid settings*/
@media only screen and (max-width: 1200px) {
    section#rarity_grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 25px;
        grid-template-areas: 
        "hig leg uni"
        "epi rar nor"
        "ext ext ext";
    }
    img.rarity_grid_img_size {
        max-height: 80%;
        width: auto;
    }
}

/*Changes grid settings*/
@media only screen and (max-width: 765px) {
    section#rarity_grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 15px;
        grid-template-areas: 
        "hig leg"
        "uni epi"
        "rar nor"
        "ext ext";
    }
}

/*Changes grid settings*/
@media only screen and (max-width: 500px) {
    section#rarity_grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "hig"
        "leg"
        "uni" 
        "epi"
        "rar" 
        "nor"
        "ext";
    }
}
/*============  End of Media Queries  ============*/