/*
=====================================================
|                Section Template                   |
=====================================================
*/
/*============  End of Template  ============*/

/*Date Last Modified: 3/9/2025*/
/*Author: Aj Sison*/

/*============ IMPORTANT NOTE ============*/
/*CSS Files load in the order of styles.css, pvp_styles, heroes_styles, then check_styles*/
/*The code cascades in a way. Most of the code that affects each page is on styles.css and the other css files have code that is more specific to their page*/

/*
=====================================================
|        Section Margin to match homepage           |
=====================================================
*/
section.extra_margin {
    margin: 0 2%;
}

/*============  End of Section Margin  ============*/
/*
=====================================================
|                   Header Changes                  |
=====================================================
*/
#heading_text_box {
    background: url(../images/pvp_pve_banner.png);
    background-repeat: no-repeat;
    background-size: 100% 300%;
    background-position: center;
    text-align: center;
    padding: 2em 0;
    border-bottom: 10px ridge var(--img_and_vid_border_color);
}

#heading_text_box h1 {
    font-size: 5em;
    -webkit-text-stroke: 3px var(--heading_text_outline);
    color: var(--heading_color);
    margin: 0;
}

/*============  End of Header Changes  ============*/
/*
=====================================================
|               PVP Flex Container                  |
=====================================================
*/
div#pvp_pics_box {
    display: flex;
    flex-direction: row;
    padding: 1em 1em;
    justify-content: space-evenly;
}

div#pvp_pic_1_box {
    flex-basis: 50%;
    text-align: center;
}

div#pvp_pic_2_box {
    flex-basis: 50%;
    text-align: center;
}

figcaption.pic_text {
    margin-bottom: 2em;
}

/*============  End of PVP Flex Container  ============*/
/*
=====================================================
|                 PVE Flex Container                |
=====================================================
*/
div#pve_pics_box {
    display: flex;
    flex-direction: row;
    padding: 1em 1em;
    justify-content: space-evenly;
}

div#pve_pic_1_box {
    flex-basis: 33%;
    text-align: center;
}

div#pve_pic_2_box {
    flex-basis: 33%;
    text-align: center;
}

div#pve_pic_3_box {
    flex-basis: 33%;
    text-align: center;
}

/*============  End of PVE Flex Container  ============*/
/*
=====================================================
|                 Event Flex Container                |
=====================================================
*/
div#event_pics_box {
    display: flex;
    flex-direction: row;
    padding: 1em 1em;
    justify-content: space-evenly;
}

div#event_pic_1_box {
    flex-basis: 33%;
    text-align: center;
}

div#event_pic_2_box {
    flex-basis: 33%;
    text-align: center;
}

div#event_pic_3_box {
    flex-basis: 33%;
    text-align: center;
}

/*============  End of Event Flex Container  ============*/
/*
=====================================================
|                  Media Queries                    |
=====================================================
*/
/*Changes Flex Boxes*/
@media only screen and (max-width: 1000px) {
    div#pvp_pics_box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div#pve_pics_box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div#event_pics_box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/*Changes heading text size*/
@media only screen and (max-width: 635px) {
    #heading_text_box h1 {
        font-size: 3em;
    }
}

/*Changes overview text size*/
@media only screen and (max-width: 600px) {
    h1#pvp_overview {
        font-size: 2.8em;
    }
}

/*============  End of Media Queries  ============*/