
/*Space here to make a custom variable*/ /**/

/*
=====================================================
|                   Template                        |
=====================================================
*/
/*============  End of Template  ============*/

/*Date Last Modified: 2/25/2025*/
/*Author: Aj Sison*/

/*
=====================================================
|                   Global Changes                  |
=====================================================
*/
body {
    margin: 0px;
    line-height: 1.3;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin: 4% 2%;
}

p {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 1em;
}

ol {
    margin-top: 0;
    margin-bottom: 1.5em;
}

ul {
    margin-top: 0;
    margin-bottom: 1.5em;
}

li {
    font-size: 1.5em;
    font-style: italic;
    margin-top: 0;
}

footer {
    padding: 40px 20px 40px 20px;
    background-color: #000000;
    color: #ffffff;
}
/*============  End of Global Changes  ============*/
/*
=====================================================
|                   Google Fonts                        |
=====================================================
*/
.honk_text {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 15,
      "SHLN" 50;
}

.kumar_text {
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
}

.luckiest_guy_text {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}
/*============  End of Google Fonts  ============*/
/*
=====================================================
|          Navigation Bar Changes (Flex)            |
=====================================================
*/
#nav_menu ul.nav_links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

#nav_menu ul li {
    font-size: 2em;
    flex-basis: 20%;
    font-style: normal;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    text-decoration: none;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    padding: 5% 0;
}
  
#nav_menu ul li a.current {
    background-color: #ffd900;
}

#nav_menu ul li a:hover {
    background-color: #ffd900;
    color: #000000;
}

a#logo_spot {
    background: url(images/seven_knights_logo.png) no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
}

p#logo_text {
    margin: 0;
    padding: 0;
    opacity: 0;
    font-size: 1em;
}
/*============  End of Navigation Bar Changes  ============*/
/*
=====================================================
|         Homepage Video Flex Box Changes          |
=====================================================
*/
section#home_page_video_container {
    display: flex;
    flex-direction: row;
    padding: 3em 1em;
    background-image: url(images/gemini_background_1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-bottom: 10px ridge #000000;
}

div#home_page_video_box {
    flex-basis: 40%;
}

video#home_page_video {
    width: 257px; 
    height: 555px;
    display: block;
    margin: auto;
    border: 10px ridge #000000;
}

div#home_page_video_text_box {
    flex-basis: 60%;
    text-align: center;
    font-weight: bold;
}

div#home_page_video_text_box h1 {
    font-size: 4.5em;
    margin-top: 0;
    color: white;
    -webkit-text-stroke: 3px #000000;
}

p#summon_text {
    font-size: 3em;
    margin: 0;
    margin-bottom: 10%;
    color: white;
    -webkit-text-stroke: 3px #000000;
}

a#download_button {
    background-color: #ffd700;
    border: 6px solid black;
    border-radius: 20px;
    font-size: 3em;
    padding:20px;
    color: #000000;
    text-decoration: none;
}

a#download_button:hover {
    background-color: #000000;
    color: #ffd700;
    border: 6px solid #ffd700;
}
/*============  End of Home Page Video Flex Box Changes  ============*/
/*
=====================================================
|           Gameoverview Flex Box Changes           |
=====================================================
*/
h1#overview_text {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.2em;
    font-size: 4em;
    font-weight: bold;
}

div#game_overview_container {
    padding: 2em 1em;
    display: flex;
    flex-direction: row;
}

div#game_overview_gameplay img {
    display: block;
    margin: auto;
    width: 60%;
    height: auto;
    max-width: 348.212px;
    max-height: 753.375px;
    border: 10px ridge #000000;
}

#gameplay_pic_text_box {
    text-align: center;
}

#gameplay_pic_text_box figcaption {
    margin-top: 1em;
}

div#game_overview_gameplay {
    flex-basis: 50%;
}

div#game_overview_text {
    flex-basis: 50%;
}

.main_section_heading_text {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

.main_section_heading_text::first-letter {
    font-size: 1.5em;
}

p.list_heading {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

p.list_heading::first-letter {
    font-size: 1.5em;
}

p#home_note {
    margin-top: 0;
    margin-bottom: 0;
}
/*============  End of Gameoverview Flex Box Changes  ============*/
/*
=====================================================
|      Div Changes for Bottom Links and Footer      |
=====================================================
*/
section.bottom_links {
    padding-top: 2%;
    font-size: 0.8em;
}

a#netmarble_site {
    color: #ffffff;
}
/*============  End of Div Changes for Bottom Links  ============*/
/*
=====================================================
|                  Media Queries                    |
=====================================================
*/
/*Changes nav menu text size*/
@media only screen and (max-width: 1555px) {
    #nav_menu ul li {
        font-size: 1.5em;
    }
}

/*Changes nav menu into a row, the size of nav text, and homepage video size*/
@media only screen and (max-width: 1140px) {
    #nav_menu ul.nav_links {
        flex-direction: column;
    }
    section#home_page_video_container {
        flex-direction: column;
    }
    div#game_overview_container {
        flex-direction: column;
    }    
    video#home_page_video {
        width: 342.4px; 
        height: 740.8px;
    }
    #nav_menu ul li {
        font-size: 2em;
    }
}

/*Changes homepage overview text size*/
@media only screen and (max-width: 635px) {
    h1#overview_text {
        font-size: 2em;
    }
}

/*Changes hompage video size, and the size of the text next to it*/
@media only screen and (max-width: 500px) {
    video#home_page_video {
        width: 278.2px; 
        height: 601.9px;
    }
    div#home_page_video_text_box h1 {
        font-size: 3em;
    }
    p#summon_text {
        font-size: 2em;
    }
    a#download_button {
        font-size: 2em;
    }
}

/*Changes the size of all the text for the game overview section*/
@media only screen and (max-width: 485px) {
    h1#overview_text {
        font-size: 1.8em;
        margin-top: 1em;
    }
    div#game_overview_container {
        padding-top: 0;
    }
    div#game_overview_gameplay img {
        margin-bottom: 1em;
    }
    h2.main_section_heading_text {
        font-size: 1em;
    }
    .main_section_heading_text::first-letter {
        font-size: 1em;
    }  
    p {
        font-size: 0.85em;
    }
    p.list_heading::first-letter {
        font-size: 1em;
    }
    li {
        font-size: 0.85em;
    }
}
/*============  End of Media Queries  ============*/